<nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-dark">
    <div class="navbar-wrapper">
        <div class="navbar-container content">
            <div class="collapse navbar-collapse show" id="navbar-mobile">
                <ul class="nav navbar-nav mr-auto float-left">

                    <li class="nav-item mobile-menu d-md-none mr-auto">
                        <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#">
                            <i class="ft-menu font-large-1"> </i>
                        </a>
                    </li>
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#">
                            <i class="ft-menu"></i>
                        </a>
                    </li>
                    <!--<li class="nav-item d-none d-md-block">
                        <a class="nav-link nav-link-expand" href="#">
                            <i class="ficon ft-maximize"></i>
                        </a>
                    </li>-->
                    <li class="dropdown nav-item mega-dropdown d-none d-md-block">
                        <!--<a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">Mega</a>-->
                        <ul class="mega-dropdown-menu dropdown-menu row">
                            <li class="col-md-2">
                                <h6 class="dropdown-menu-header text-uppercase mb-1">
                                    <i class="ft-link"></i> Quick Links</h6>
                                <ul>
                                    <li>
                                        <a class="my-1" href="index.html">
                                            <i class="ft-home mr-1"></i> Dashboard</a>
                                    </li>
                                    <li>
                                        <a class="my-1" href="email-application.html">
                                            <i class="ft-layers mr-1"></i> Email Application</a>
                                    </li>
                                    <li>
                                        <a class="my-1" href="chat-application.html">
                                            <i class="ft-message-square mr-1"></i> Chat Application</a>
                                    </li>
                                    <li>
                                        <a class="my-1" href="form-wizard.html">
                                            <i class="ft-edit mr-1"></i> Form Wizard</a>
                                    </li>
                                    <li>
                                        <a class="my-1" href="table-bootstrap.html">
                                            <i class="ft-grid mr-1"></i> Tables</a>
                                    </li>
                                    <li>
                                        <a class="my-1" href="chartist-charts.html">
                                            <i class="ft-bar-chart mr-1"></i> Chartist</a>
                                    </li>
                                    <li>
                                        <a class="my-1" href="gallery-grid.html">
                                            <i class="ft-sidebar mr-1"></i> Gallery Page</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="col-md-3">
                                <h6 class="dropdown-menu-header text-uppercase mb-1">
                                    <i class="ft-star"></i> My Bookmarks</h6>
                                <ul class="ml-2">
                                    <li class="list-style-circle">
                                        <a class="my-1" href="card-advanced.html">
                                            Advanced Cards</a>
                                    </li>
                                    <li class="list-style-circle">
                                        <a class="my-1" href="layout-content-detached-left-sidebar.html">
                                            Left sidebar</a>
                                    </li>
                                    <li class="list-style-circle">
                                        <a class="my-1" href="layout-content-detached-left-sticky-sidebar.html">
                                            Sticky left sidebar</a>
                                    </li>
                                    <li class="list-style-circle">
                                        <a class="my-1" href="layout-content-detached-right-sidebar.html">
                                            Right sidebar</a>
                                    </li>
                                    <li class="list-style-circle">
                                        <a class="my-1" href="layout-content-detached-right-sticky-sidebar.html">
                                            Sticky right sidebar</a>
                                    </li>
                                    <li class="list-style-circle">
                                        <a class="my-1" href="layout-fixed-navbar-navigation.html">
                                            Fixed Navbar & Navigation</a>
                                    </li>
                                    <li class="list-style-circle">
                                        <a class="my-1" href="layout-fixed-navbar-footer.html">
                                            Fixed Navbar & Footer </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="col-md-3">
                                <h6 class="dropdown-menu-header text-uppercase">
                                    <i class="ft-layers"></i> Recent Products</h6>
                                <div class="carousel slide pt-1" id="carousel-example" data-ride="carousel">
                                    <div class="carousel-inner" role="listbox">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="app-assets/images/carousel/08.jpg" alt="First slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="app-assets/images/carousel/03.jpg" alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="app-assets/images/carousel/01.jpg" alt="Third slide">
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                                        <span class="la la-angle-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                                        <span class="la la-angle-right icon-next" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                    <h5 class="pt-1">Special title treatment</h5>
                                    <p>Jelly beans sugar plum.</p>
                                </div>
                            </li>
                            <li class="col-md-4">
                                <h6 class="dropdown-menu-header text-uppercase mb-1">
                                    <i class="ft-thumbs-up"></i> Get in touch</h6>
                                <form class="form form-horizontal pt-1">
                                    <div class="form-body">
                                        <div class="form-group row">
                                            <label class="col-sm-3 form-control-label" for="inputName1">Name</label>
                                            <div class="col-sm-9">
                                                <div class="position-relative has-icon-left">
                                                    <input class="form-control" id="inputName1" type="text" placeholder="John Doe">
                                                    <div class="form-control-position pl-1">
                                                        <i class="ft-user"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 form-control-label" for="inputContact1">Contact</label>
                                            <div class="col-sm-9">
                                                <div class="position-relative has-icon-left">
                                                    <input class="form-control" id="inputContact1" type="text"
                                                        placeholder="(123)-456-7890">
                                                    <div class="form-control-position pl-1">
                                                        <i class="ft-smartphone"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 form-control-label" for="inputEmail1">Email</label>
                                            <div class="col-sm-9">
                                                <div class="position-relative has-icon-left">
                                                    <input class="form-control" id="inputEmail1" type="email"
                                                        placeholder="john@example.com">
                                                    <div class="form-control-position pl-1">
                                                        <i class="ft-mail"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 form-control-label" for="inputMessage1">Message</label>
                                            <div class="col-sm-9">
                                                <div class="position-relative has-icon-left">
                                                    <textarea class="form-control" id="inputMessage1" rows="2"
                                                        placeholder="Simple Textarea"></textarea>
                                                    <div class="form-control-position pl-1">
                                                        <i class="ft-message-circle"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 mb-1">
                                                <button class="btn btn-danger float-right" type="button">
                                                    <i class="ft-arrow-right"></i> Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown d-none d-md-block mr-1">
                        <!--    <a class="dropdown-toggle nav-link" id="apps-navbar-links" href="#" data-toggle="dropdown">
                                Apps</a>
                            <div class="dropdown-menu">
                                <div class="arrow_box">
                                    <a class="dropdown-item" href="email-application.html">
                                        <i class="ft-user"></i> Email</a>
                                    <a class="dropdown-item" href="chat-application.html">
                                        <i class="ft-mail"></i> Chat</a>
                                    <a class="dropdown-item" href="project-summary.html">
                                        <i class="ft-briefcase"></i> Project Summary </a>
                                    <a class="dropdown-item" href="full-calender.html">
                                        <i class="ft-calendar"></i> Calendar </a>
                                </div>
                            </div> -->
                    </li>
                    <li class="nav-item dropdown navbar-search">
                        <!--       <a class="nav-link dropdown-toggle hide" data-toggle="dropdown" href="#">
                                <i class="ficon ft-search"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="arrow_box">
                                    <form>
                                        <div class="input-group search-box">
                                            <div class="position-relative has-icon-right full-width">
                                                <input class="form-control" id="search" type="text" placeholder="Search here...">
                                                <div class="form-control-position navbar-search-close">
                                                    <i class="ft-x"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                            </ul> -->
                    </li>
                </ul>
                <ul class="nav navbar-nav float-right">
                    <li class="dropdown dropdown-language nav-item">
                        <a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="flag-icon flag-icon-us"></i>
                            <span class="selected-language"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-flag">
                            <div class="arrow_box">
                                <a class="dropdown-item" href="#">
                                    <i class="flag-icon flag-icon-us"></i> English</a>
                                <a class="dropdown-item" href="#">
                                    <i class="flag-icon flag-icon-cn"></i> Chinese</a>
                                <a class="dropdown-item" href="#">
                                    <i class="flag-icon flag-icon-ru"></i> Russian</a>
                                <a class="dropdown-item" href="#">
                                    <i class="flag-icon flag-icon-fr"></i> French</a>
                                <a class="dropdown-item" href="#">
                                    <i class="flag-icon flag-icon-es"></i> Spanish</a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown dropdown-notification nav-item">
                        <a class="nav-link nav-link-label" href="#" data-toggle="dropdown">
                            <i class="ficon ft-bell bell-shake" id="notification-navbar-link"></i>
                            <span class="badge badge-pill badge-sm badge-info badge-default badge-up badge-glow"
                                [hidden]="notifications.length==0">{{ notifications.length }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                            <div class="arrow_box_right">
                                <li class="dropdown-menu-header">
                                    <h6 class="dropdown-header m-0">
                                        <span class="grey darken-2">Notifications</span>
                                    </h6>
                                </li>
                                <li class="scrollable-container media-list w-100" *ngFor="let notify of notifications">
                                    <a href="javascript:void(0)">
                                        <div class="media">
                                            <div class="media-left align-self-center">
                                                <i class="ft-plus-square icon-bg-circle bg-cyan"></i>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading">{{ notify.title }}</h6>
                                                <p class="notification-text font-small-3 text-muted">{{notify.message}}</p>
                                                <small>
                                                    <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">
                                                        {{notify.date}}</time>
                                                </small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <!--  <li class="dropdown-menu-footer">
                                        <a class="dropdown-item text-muted text-center" href="javascript:void(0)">Read all
                                            notifications</a>
                                    </li> -->
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-notification nav-item">
                        <a class="nav-link nav-link-label" href="#" data-toggle="dropdown">
                            <i class="ficon ft-mail"> </i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                            <div class="arrow_box_right">
                                <li class="dropdown-menu-header">
                                    <h6 class="dropdown-header m-0">
                                        <span class="grey darken-2">Messages</span>
                                    </h6>
                                </li>
                                <li class="scrollable-container media-list w-100">
                                    <a href="javascript:void(0)">
                                        <div class="media">
                                            <div class="media-left">
                                                <span class="avatar avatar-sm avatar-online rounded-circle">
                                                    <img src="assets/app-assets/images/portrait/small/avatar-s-19.png"
                                                        alt="avatar">
                                                    <i></i>
                                                </span>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Margaret Govan</h6>
                                                <p class="notification-text font-small-3 text-muted">I like your
                                                    portfolio, let's start.</p>
                                                <small>
                                                    <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Today</time>
                                                </small>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="javascript:void(0)">
                                        <div class="media">
                                            <div class="media-left">
                                                <span class="avatar avatar-sm avatar-busy rounded-circle">
                                                    <img src="assets/app-assets/images/portrait/small/avatar-s-2.png"
                                                        alt="avatar">
                                                    <i></i>
                                                </span>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Bret Lezama</h6>
                                                <p class="notification-text font-small-3 text-muted">I have seen your
                                                    work, there is</p>
                                                <small>
                                                    <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Tuesday</time>
                                                </small>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="javascript:void(0)">
                                        <div class="media">
                                            <div class="media-left">
                                                <span class="avatar avatar-sm avatar-online rounded-circle">
                                                    <img src="app-assets/images/portrait/small/avatar-s-3.png" alt="avatar">
                                                    <i></i>
                                                </span>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Carie Berra</h6>
                                                <p class="notification-text font-small-3 text-muted">Can we have call
                                                    in this week ?</p>
                                                <small>
                                                    <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Friday</time>
                                                </small>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="javascript:void(0)">
                                        <div class="media">
                                            <div class="media-left">
                                                <span class="avatar avatar-sm avatar-away rounded-circle">
                                                    <img src="app-assets/images/portrait/small/avatar-s-6.png" alt="avatar">
                                                    <i></i>
                                                </span>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Eric Alsobrook</h6>
                                                <p class="notification-text font-small-3 text-muted">We have project
                                                    party this saturday.</p>
                                                <small>
                                                    <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">last
                                                        month
                                                    </time>
                                                </small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown-menu-footer">
                                    <a class="dropdown-item text-muted text-center" href="javascript:void(0)">Read all
                                        messages
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-user nav-item">
                        <a class="dropdown-toggle nav-link dropdown-user-link" href="javascript:void(0)" data-toggle="dropdown">
                            <span class="avatar avatar-online">
                                <img src="assets/img/users.png" alt="avatar">
                                <i></i>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="arrow_box_right">
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <span class="avatar avatar-online">
                                        <img src="assets/img/users.png" alt="avatar">
                                        <span class="user-name text-bold-700 ml-1">{{ userSession.user_name}}</span>
                                    </span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item">
                                    <i class="ft-user"></i> Editar cuenta</a>

                                <a class="dropdown-item" (click)="logout()">
                                    <i class="ft-power"></i> Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>