<div class="content-wrapper">
    <div class="content-wrapper-before"></div>

    <div class="content-body">

        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Reservas del Día</h4>
                        <a class="heading-elements-toggle">
                            <i class="la la-ellipsis-v font-medium-3"></i>
                        </a>
                        <div class="heading-elements">
                            <!--<ul class="list-inline mb-0">
                                <li>
                                    <button type="button" class="btn btn-glow btn-round btn-bg-gradient-x-red-pink">More</button>
                                </li>
                            </ul>-->
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body p-0 pb-0">
                            <div id="vertical-bar" class="height-400 BarChartShadow"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="row">
                    <div class="col-12">
                        <div class="card pull-up bg-gradient-directional-danger">
                            <div class="card-header bg-hexagons-danger">
                                <h4 class="card-title white">Total Killers</h4>
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li>
                                            <a class="btn btn-sm btn-white danger box-shadow-1 round btn-min-width pull-right"
                                                href="#" target="_blank">Report <i class="ft-bar-chart pl-1"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show bg-hexagons-danger">
                                <div class="card-body">
                                    <div class="media d-flex">

                                        <div class="media-body text-right mt-1">
                                            <h3 class="font-large-2 white">{{ stats.killers }}</h3>
                                            <h6 class="mt-1"><span class="text-muted white">Analytics in the <a href="#"
                                                        class="darken-2 white">last
                                                        year.</a></span></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card pull-up bg-gradient-directional-info">
                            <div class="card-header bg-hexagons-info">
                                <h4 class="card-title white">Nuevos Killers</h4>
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li>
                                            <a class="btn btn-sm btn-white info box-shadow-1 round btn-min-width pull-right"
                                                href="#" target="_blank">Report <i class="ft-bar-chart pl-1"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show bg-hexagons-warning">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <!-- <div class="align-self-center width-100">
                                            <div id="Analytics-donut-chart" class="height-100 donutShadow"></div>
                                        </div> -->
                                        <div class="media-body text-right mt-1">
                                            <h3 class="font-large-2 white">{{ stats.new_killers }}</h3>
                                            <h6 class="mt-1"><span class="text-muted white">Analytics in the <a href="#"
                                                        class="darken-2 white">last
                                                        year.</a></span></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Reservas Stats</h4>
                    <a class="heading-elements-toggle">
                        <i class="la la-ellipsis-v font-medium-3"></i>
                    </a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li>
                                <a data-action="collapse">
                                    <i class="ft-minus"></i>
                                </a>
                            </li>
                            <li>
                                <a data-action="reload">
                                    <i class="ft-rotate-cw"></i>
                                </a>
                            </li>
                            <li>
                                <a data-action="close">
                                    <i class="ft-x"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-footer text-center p-1">
                        <div class="row">
                            <div class="col-md-3 col-12 border-right-blue-grey border-right-lighten-5 text-center">
                                <p class="blue-grey lighten-2 mb-0">Pendientes</p>
                                <p class="font-medium-5 text-bold-400">{{ stats?.deals?.pendients }}</p>
                            </div>
                            <div class="col-md-3 col-12 border-right-blue-grey border-right-lighten-5 text-center">
                                <p class="blue-grey lighten-2 mb-0">Reservas</p>
                                <p class="font-medium-5 text-bold-400">{{ stats?.deals?.reservations }}</p>
                            </div>
                            <div class="col-md-3 col-12 border-right-blue-grey border-right-lighten-5 text-center">
                                <p class="blue-grey lighten-2 mb-0">Pagados</p>
                                <p class="font-medium-5 text-bold-400">{{ stats?.deals?.payments }}</p>
                            </div>
                            <div class="col-md-3 col-12 text-center">
                                <p class="blue-grey lighten-2 mb-0">Cancelados</p>
                                <p class="font-medium-5 text-bold-400">{{ stats?.deals?.canceleds }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>