<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Crear nuevo Kcoins</h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper mr-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/config/kcoins"> Kcoins</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a>Crear nuevo</a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>

    </div>
    <div class="content-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="card-text">

                            </div>
                            <form class="form form-horizontal" [formGroup]="frmKcoins">
                                <div class="form-body">
                                    <h4 class="form-section">
                                        <i class="la la-eye"></i> Kcoins :: Configuración</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput1">PAX</label>
                                                <div class="col-md-9">
                                                    <input type="number" class="form-control border-primary"
                                                        placeholder="Nro de Pax" formControlName="pax" name="pax">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput1">TIPO DE PAX</label>
                                                <div class="col-md-9">
                                                    <select class="form-control border-primary" placeholder="MX"
                                                        formControlName="type_pax" name="type_pax">
                                                        <option value="adults">Hombres</option>
                                                        <option value="children">Niños</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput1">KCOINS</label>
                                                <div class="col-md-9">
                                                    <input type="number" class="form-control border-primary"
                                                        placeholder="Ingrese el total de kcoins" formControlName="kcoins"
                                                        name="kcoins">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="form-actions right">
                                    <button type="button" class="btn btn-danger mr-1" (click)="cancel()">
                                        <i class="ft-x"></i> Cancelar
                                    </button>
                                    <button type="button" class="btn btn-primary" (click)="save()">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>