<footer class="footer footer-static footer-light navbar-border navbar-shadow">
    <div class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
        <span class="float-md-left d-block d-md-inline-block">2020 &copy; Copyright
            <a class="text-bold-800 grey darken-2" href="https://behlaaktours.com/" target="_blank">Behlaak Tours</a>
        </span>
    </div>
</footer>