<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Crear nuevo usuario</h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper mr-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/config/user"> Usuario</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a>Crear nuevo</a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>

    </div>
    <div class="content-detached content-right">
        <div class="content-body">

            <section class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-head">
                            <div class="card-header">
                                <h4 class="card-title">Asignar usuario a:</h4>
                                <a class="heading-elements-toggle">
                                    <i class="la la-ellipsis-h font-medium-3"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <form class="form form-horizontal" [formGroup]="frmUserFilter">
                                    <div class="m-b-10 row">
                                        <div class="col-md-6">
                                            <fieldset class="form-group position-relative has-icon-left m-0  w-75 display-inline">
                                                <input type="text" class="form-control round" formControlName="name"
                                                    name="name" placeholder="Buscar" (change)="search($event)">
                                                <div class="form-control-position">
                                                    <i class="ft-search"></i>
                                                </div>
                                            </fieldset>
                                        </div>

                                        <div class="col-md-6">
                                            <select class="form-control" formControlName="type_user" name="type_user">
                                                <option value="0">Tipo de usuario</option>
                                                <option value="operator">Operador</option>
                                                <option value="promotor">Promotor</option>
                                                <option value="cobrator">Cobrador</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                                <div class="table-responsive">
                                    <table id="users-contacts" class="table table-white-space table-bordered table-striped row-grouping display no-wrap icheck table-middle">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Nombre</th>
                                                <th>Email</th>
                                                <th>Clasificación</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of usersFilters">
                                                <td>1</td>
                                                <td>{{ item.name }}</td>
                                                <td>{{ (frmUserFilter.value.type_user == "operator") ? item.email_one :
                                                    item.email }}</td>
                                                <td>{{ frmUserFilter.value.type_user }}</td>
                                                <td>
                                                    <button class="btn btn-danger" (click)="handleSelectRelatedUser(item)">Seleccionar</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

    <div class="sidebar-detached sidebar-left">
        <div class="sidebar">
            <div class="bug-list-sidebar-content">
                <!-- Predefined Views -->
                <div class="card">
                    <div class="card-head">
                        <div class="align-self-center halfway-fab text-center p-1">
                            <span class="avatar avatar-lg avatar-online rounded-circle"><img src="./assets/img/users.png"></span>
                        </div>
                        <div class="text-center">
                            <span class="font-medium-2 text-uppercase">{{ (relatedUser != null )?
                                relatedUser.name : "nombre" }}</span>
                            <p class="blue-grey font-small-2">{{ (frmUser.value.type_user == "0") ? "Sin asignar":
                                frmUser.value.type_user }} </p>
                        </div>
                    </div>

                    <div class="card-body border-top-blue-grey border-top-lighten-5">
                        <!-- contacts view -->
                        <div class="card-body">
                            <div class="list-group">
                                <a href="javascript:void(0)" class="list-group-item active">Mi usuario es:</a>

                                <a href="javascript:void(0)" class="list-group-item list-group-item-action">{{
                                    (userData != null) ? userData.user_name : "Sin asignar"
                                    }}</a>
                                <a href="javascript:void(0)" class="list-group-item active">Es admin:</a>
                                <a href="javascript:void(0)" class="list-group-item list-group-item-action">{{
                                    ( userData && userData.is_admin == true) ? "Si": "No" }}</a>
                                <a href="javascript:void(0)" class="list-group-item active">Inicio sesión como:</a>
                                <a href="javascript:void(0)" class="list-group-item list-group-item-action">{{
                                    (userData != null && userData.type_user !== '0' )?
                                    userData.type_user
                                    :"Sin asignar" }}</a>
                                <a href="javascript:void(0)" class="list-group-item list-group-item-action info"
                                    data-toggle="modal" data-target="#mdUser" data-keyboard="false" data-backdrop="true"><i
                                        class="mr-1 ft-plus"></i>
                                    Editar
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <!--/ Predefined Views -->

            </div>
        </div>
    </div>

    <div class="modal fade text-left" id="mdUser" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label class="modal-title text-text-bold-600">Editar datos de usuario</label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="" [formGroup]="frmUser">
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="form-group pb-1">
                                    <input type="checkbox" id="switchery" class="switchery" checked formControlName="is_admin"
                                        name="is_admin" (change)="handleIsAdmin()" />
                                    <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Soy administrador</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="userinput1">Nombre usuario</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control border-primary" placeholder=""
                                                formControlName="user_name" name="user_name">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="userinput1">Contraseña</label>
                                        <div class="col-md-9">
                                            <input type="password" class="form-control border-primary" placeholder=""
                                                formControlName="password" name="password">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="reset" class="btn btn-secondary" data-dismiss="modal" value="cerrar">
                        <input type="button" class="btn btn-primary" data-dismiss="modal" value="Guardar" (click)="save()">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--     <div class="content-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="card-text">

                            </div>
                            <form class="form form-horizontal" [formGroup]="frmUser">
                                <div class="form-body">
                                    <h4 class="form-section">
                                        <i class="la la-eye"></i> Usuario</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput1">Nombre de
                                                    usuario (email)</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control border-primary" placeholder=""
                                                        formControlName="user_name" name="user_name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput2">Tipo de usuario</label>
                                                <div class="col-md-9">
                                                    <select class="select2 form-control" id="default-select"
                                                        formControlName="type_user" name="type_user">
                                                        <option value="admin">Admin (Principal)</option>
                                                        <option value="operator">Operador</option>
                                                        <option value="promotor">Promotor</option>
                                                        <option value="cobrator">Cobrador</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-actions right">
                                    <button type="button" class="btn btn-danger mr-1">
                                        <i class="ft-x"></i> Cancelar
                                    </button>
                                    <button type="submit" class="btn btn-primary" (click)="save()">
                                        <i class="la la-check-square-o"></i> Guardar
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div> -->


</div>