<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Lista de Clientes</h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper mr-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a>Clientes</a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-right col-md-4 col-12">
            <a class="btn btn-warning btn-min-width float-md-right box-shadow-4 mr-1 mb-1" routerLink="add">
                <i class="ft-plus"></i> Crear nuevo cliente</a>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-4">
            <input type="text" class="form-control border-primary" placeholder="Buscar cliente" [(ngModel)]="textSearch"
                (change)="search($event)">
        </div>
    </div>

    <div class="row">

        <div *ngFor="let client of clientList; index as i" class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
            <!-- Predefined Views -->
            <div class="card">
                <div class="card-head">
                    <div class="align-self-center halfway-fab text-center p-1">
                        <span class="avatar avatar-lg avatar-online rounded-circle">
                            <img src="./assets/img/users.png" alt="avatar" style="height: 100px; width: 100px; border-radius: 50px;">
                        </span>
                    </div>

                    <div class="text-center" style="padding-bottom: 10px">
                        <span class="font-medium-2 text-uppercase">{{ client.name }}</span>
                    </div>

                </div>

                <div class="card-body border-top-blue-grey border-top-lighten-5 text-center" style="font-size: 13px; padding: 10px">
                    <!-- contacts view -->
                    <div>
                        <strong class="icon-envelope"></strong> {{ client.email }}
                    </div>

                    <div>
                        <strong class="icon-screen-smartphone"></strong> {{ client.phone }}
                    </div>

                    <div class="btn-group" role="group" aria-label="Basic example" style="margin-top: 10px">
                        <button type="button" class="btn btn-sm btn-outline-primary" style="width: 50%">Editar</button>
                        <button type="button" class="btn btn-sm btn-outline-danger" style="width: 50%">Eliminar</button>
                    </div>

                </div>
            </div>
            <!--/ Predefined Views -->
        </div>
    </div>

    <theme-pagination-cpn [count]="count" [perPage]="pageSize" [page]="page" (changePage)="changePage($event)"></theme-pagination-cpn>

</div>