<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Lista de Paquetes</h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper mr-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a>Paquetes</a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-right col-md-4 col-12">
            <a class="btn btn-warning btn-min-width float-md-right box-shadow-4 mr-1 mb-1" routerLink="add">
                <i class="ft-plus"></i> Crear nuevo paquete</a>
        </div>
    </div>

    <div class="row">

        <div *ngFor="let paquete of paqueteList; index as i" class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
            <!-- Predefined Views -->
            <div class="card">
                <div class="card-body">
                    <div class="align-self-center halfway-fab text-center p-1">
                        <div style="font-size: 3em; color: #CCC;">{{ (paquete.dscto) }}%</div>
                        <div style="color: #90aef5;">{{ paquete.nro_act }} actividades</div>
                    </div>
                    <div class="text-center">
                        <div style="padding-bottom: 10px">
                            <div>
                                <strong>OPERADOR</strong>
                            </div>
                            <span class="font-medium-2 text-uppercase">{{ paquete.operator.name }}</span>
                        </div>

                        <div style="padding-bottom: 10px">
                            <button class="btn btn-sm {{ paquete.status ? 'btn-outline-success' : 'btn-outline-danger' }} round" type="button" (click)="changeStatus(paquete, i)">
                                {{ paquete.status ? 'Activo': 'Inactivo' }}
                            </button>
                        </div>

                        <div class="btn-group" role="group" aria-label="Basic example" style="margin-top: 10px">
                            <button type="button" class="btn btn-sm btn-outline-primary" style="width: 50%" (click)="updatePaquete(paquete.id)">Editar</button>
                            <button type="button" class="btn btn-sm btn-outline-danger" style="width: 50%" (click)="deletePaquete(paquete.id, i)">Eliminar</button>
                        </div>

                    </div>


                </div>
            </div>
            <!--/ Predefined Views -->
        </div>
    </div>

</div>