<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Lista de Pickup</h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper mr-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a>Pickup</a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6" *ngIf="operatorsList.length > 0">
            <div class="form-group row">
                <label class="col-md-3 label-control white" for="userinput3">Seleccionar Operador</label>
                <div class="col-md-9">
                    <fieldset class="form-group">
                        <select class="form-control" name="operator_id" [(ngModel)]="operatorId" (change)="listCatalogo($event)">
                            <option [value]="operator.id" *ngFor="let operator of operatorsList">{{ operator.name }}</option>
                        </select>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-3 label-control white " for="userinput3">Seleccionar Catálogo</label>
                <div class="col-md-9">
                    <fieldset class="form-group">
                        <select class="form-control" name="catalogo_id" [(ngModel)]="catalogId" (change)="listActivities($event)">
                            <option [value]="catalogo.id" *ngFor="let catalogo of catalogoList">{{ catalogo.name }}</option>
                        </select>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>



    <div class="content-body">

        <div class="row">

            <div *ngFor="let activity of activityList; index as i" class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
                <!-- Predefined Views -->
                <div class="card">

                    <img class="card-img-top img-fluid" [src]="(activity.poster)?urlBaseImage +activity.poster:'assets/img/poster.png'" alt="Card image cap">


                    <div class="card-body border-top-blue-grey border-top-lighten-5 text-center" style="font-size: 10px; padding: 10px">
                        <!-- contacts view -->
                        <div class="text-center" style="padding-bottom: 10px">
                            <span class="font-medium-2 text-uppercase">{{ activity.name }}</span>
                            <div>
                                <button class="btn btn-sm {{ activity.status ? 'btn-outline-success' : 'btn-outline-danger' }} round" type="button" (click)="changeStatus(activity, i)">
                                    {{ activity.status ? 'Activo': 'Inactivo' }}
                                </button>
                            </div>
                        </div>
                        <div>
                            <span class="font-medium-1 text-uppercase">{{ activity.catalog ? activity.catalog.name : 'SIN CATALOGO' }}</span>
                        </div>
                        <div>
                            <span class="font-medium-1 text-uppercase">{{ activity.catalog && activity.catalog.operator ? activity.catalog.operator.name : 'SIN OPERADOR'}}</span>
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example" style="margin-top: 10px">
                            <button type="button" class="btn btn-sm btn-outline-primary" style="width: 100%" (click)="configPickup(activity)">Config Pickup</button>
                        </div>

                    </div>
                </div>
                <!--/ Predefined Views -->
            </div>
        </div>

        <theme-pagination-cpn [count]="count" [perPage]="pageSize" [page]="page" (changePage)="changePage($event)"></theme-pagination-cpn>
    </div>
</div>