$base: 16;
$lightgrey: #222;

    .description_description{
        margin-top: 1.6rem;
    }
	.pagination {
		float: right;

		.description {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			left: $base;

			.page-counts {
				margin-right: $base * 2;
			}
		}

		.numbers {
			display: block;
			text-align: center;
			flex: 1;

			button {
				flex: 0 0 auto;
				outline: none;
				border: 0;
				padding: 0 ($base / 2);
				background: transparent;
				cursor: pointer;

				&.active {
					background-color: red;
				}

				&.disabled {
					color: $lightgrey;
				}
			}
		}
	}
