<div class="row" *ngIf="totalPages() > 1">
    <div class="col-sm-12 col-md-5">
        <div class="description_description" aria-live="polite">
            <span class="page-counts">{{ getMin() }} - {{ getMax() }} de {{ count }}</span>&nbsp;&nbsp;
            <span class="page-totals">( {{ totalPages() }} páginas )</span>
        </div>
    </div>
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers" *ngIf="count > 0">
            <ul class="pagination">
                <li class="paginate_button page-item previous" [ngClass]="{ 'disabled': page === 1 || loading }">
                    <button class="page-link" (click)="onPrev()">Previous</button>
                </li>

                <li *ngFor="let pageNum of getPages()" class="paginate_button page-item" [ngClass]="{'active': pageNum === page, 'disabled': loading}">
                    <button class="page-link" (click)="onPage(pageNum)">{{ pageNum }}</button>
                </li>

                <li class="paginate_button page-item next" [ngClass]="{ 'disabled': lastPage() || loading }">
                    <button class="page-link" (click)="onNext()">Next</button>
                </li>
            </ul>
        </div>
    </div>
</div>