<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Lista de Deals</h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper mr-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a>Deals</a>
                        </li>

                    </ol>
                </div>
            </div>

        </div>
        <div class="content-header-right col-md-4 col-12">
            <div class='input-group'>
                <input type='text' class="form-control daterange" />
                <div class="input-group-append">
                    <span class="input-group-text">
                        <span class="la la-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <section>
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="align-self-top">
                                        <i class="icon-eye icon-opacity info font-large-4"></i>
                                    </div>
                                    <div class="media-body text-right align-self-bottom mt-3">
                                        <span class="d-block mb-1 font-medium-1">Total Pendientes</span>
                                        <h1 class="info mb-0">{{ orderStats.pendients }}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="align-self-top">
                                        <i class="icon-users icon-opacity warning font-large-4"></i>
                                    </div>
                                    <div class="media-body text-right align-self-bottom mt-3">
                                        <span class="d-block mb-1 font-medium-1">Total Reservados</span>
                                        <h1 class="warning mb-0">{{orderStats.reserveds}}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="align-self-top">
                                        <i class="icon-basket-loaded icon-opacity danger font-large-4"></i>
                                    </div>
                                    <div class="media-body text-right align-self-bottom mt-3">
                                        <span class="d-block mb-1 font-medium-1">Total Cancelados</span>
                                        <h1 class="danger mb-0">{{orderStats.canceleds}}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="align-self-top">
                                        <i class="icon-wallet icon-opacity success font-large-4"></i>
                                    </div>
                                    <div class="media-body text-right align-self-bottom mt-3">
                                        <span class="d-block mb-1 font-medium-1">Total Facturado</span>
                                        <h1 class="success mb-0">$ {{orderStats.factured}} </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section>
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-12" *ngFor="let order of orderList">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">{{ order.operator.name }}</h4>

                            <div class="heading-elements">
                                <ul class="list-inline d-block mb-0">
                                    <li>
                                        <a class="btn btn-sm box-shadow-3 round btn-min-width pull-right"
                                            href="javascript:void(0)"
                                            [ngClass]="order.status|statusButtonColorPipe:'btn-'"
                                            (click)="showDetail(order.id)">{{
                                            order.status | statusTextDealPipe}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body pt-0 pb-1">
                                <h6 class="text-bold-600"> Pax:
                                    <span>{{ order.nro_adults}} / {{ order.nro_childs }} / {{ order.nro_babys }}</span>
                                </h6>
                                <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                    <div class="progress-bar bg-gradient-x-info" role="progressbar" style="width: 50%"
                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="media d-flex">
                                    <div class="align-self-center">
                                        <h6 class="text-bold-600 mt-2"> Total:
                                            <span [ngClass]="order.status|statusButtonColorPipe:''">{{
                                                order.money.simbol }} {{
                                                order.total }} ({{ order.money.name}})</span>
                                        </h6>
                                        <h6 class="text-bold-600 mt-1"> Fecha OP:
                                            <span class="blue-grey"> {{ order.date_order |
                                                dateOrderPipe:'YYYY-MM-DD
                                                HH:mm:ss'}}</span>
                                        </h6>
                                    </div>
                                    <div class="media-body text-right mt-2">
                                        <ul class="list-unstyled users-list">

                                            <li data-toggle="tooltip" data-popup="tooltip-custom"
                                                [attr.data-original-title]="order.promotor.name + ' ' + order.promotor.last_name "
                                                class="avatar avatar-sm pull-up">
                                                <img class="media-object rounded-circle"
                                                    [src]="urlBaseImage + ((order.promotor.avatar_id !== null)? order.promotor.avatar.url : '')"
                                                    alt="{{ order.promotor.name }}">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>