<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Lista de Paises</h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper mr-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a>Paises</a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-right col-md-4 col-12">
            <a class="btn btn-warning btn-min-width float-md-right box-shadow-4 mr-1 mb-1" routerLink="add">
                <i class="ft-plus"></i> Crear nuevo país</a>
        </div>
    </div>
    <div class="content-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Paises</h4>
                        <a class="heading-elements-toggle">
                            <i class="la la-ellipsis-v font-medium-3"></i>
                        </a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <a data-action="collapse">
                                        <i class="ft-minus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-action="reload" (click)="list()">
                                        <i class="ft-rotate-cw"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <!--<p class="card-text">Listado de paises</p>-->
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <input type="text" class="form-control border-primary" placeholder="Buscar País" [(ngModel)]="testSearch" (change)="search($event)">
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="bg-primary white">
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>ISO</th>
                                            <th>N° area</th>
                                            <th>Estado</th>
                                            <th width='330'></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let country of countryList; index as i">
                                            <th scope="row">{{ country.id }}</th>
                                            <td>{{ country.name }}</td>
                                            <td>{{ country.iso }}</td>
                                            <td>{{ country.number_area }}</td>
                                            <td>
                                                <button class="btn btn-sm {{ country.status ? 'btn-outline-success' : 'btn-outline-danger' }} round" type="button" (click)="changeStatus(country, i)">
                                                    {{ country.status ? 'Activo': 'Inactivo' }}
                                                </button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-min-width box-shadow-1 mr-1 mb-1" (click)="delete(country.id)">Eliminar</button>
                                                <button type="button" class="btn btn-primary btn-min-width box-shadow-1 mr-1 mb-1" (click)="update(country.id)">Actualizar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <theme-pagination-cpn [count]="count" [perPage]="pageSize" [page]="page" (changePage)="changePage($event)"></theme-pagination-cpn>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>