<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Crear nuevo promotor</h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper mr-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/game/promotor"> Promotor</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a>Crear nuevo</a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>

    </div>
    <div class="content-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <!--   <div class="card-header">
                            <h4 class="card-title">2-Columns Horizontal Form</h4>
                            <a class="heading-elements-toggle">
                                <i class="la la-ellipsis-v font-medium-3"></i>
                            </a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li>
                                        <a data-action="collapse">
                                            <i class="ft-minus"></i>
                                        </a>
                                    </li>
    
                                </ul>
                            </div>
                        </div> -->
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="card-text">

                            </div>
                            <form class="form form-horizontal" [formGroup]="frmPromotor">
                                <div class="form-body">
                                    <h4 class="form-section">
                                        <i class="la la-eye"></i> Promotor</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput1">Nombre</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control border-primary"
                                                        placeholder="" formControlName="name" name="name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput2">Apellidos</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control border-primary"
                                                        placeholder="" formControlName="last_name" name="last_name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput3">Teléfono</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control border-primary"
                                                        placeholder="" formControlName="phone" name="phone">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput4">Dirección</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control border-primary"
                                                        placeholder="" formControlName="address" name="address">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput3">Correo</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control border-primary"
                                                        placeholder="" formControlName="email" name="email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput3">País</label>
                                                <div class="col-md-9">
                                                    <select type="text" select2
                                                        (onChangeSelect2)="changeCountry($event)" style="width: 100%"
                                                        class="form-control border-primary" placeholder=""
                                                        [(ngModel)]='frmPromotor.value.country_id'
                                                        formControlName="country_id" name="country_id">
                                                        <option value="0">Seleccionar país</option>
                                                        <option [value]="country.id"
                                                            *ngFor="let country of countrysList">{{
                                                            country.name }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput4">Foto</label>
                                                <div class="col-md-9">
                                                    <fieldset class="form-group">
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input">
                                                            <label class="custom-file-label"
                                                                for="inputGroupFile01">Seleccionar
                                                                foto</label>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control">Tipo promotor</label>
                                                <div class="col-md-9">
                                                    <select type="text" select2
                                                        (onChangeSelect2)="changeTypePromotor($event)"
                                                        style="width: 100%" class="form-control border-primary"
                                                        placeholder="" [(ngModel)]='frmPromotor.value.type_promotor'
                                                        formControlName="type_promotor" name="type_promotor">
                                                        <option value="0">Seleccionar</option>
                                                        <option value="promotor">Promotor</option>
                                                        <option value="cobrator">Cobrador</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="form-group row">
                                                <label class="col-md-3 label-control">Operador</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control border-primary"
                                                        placeholder="" name="operator_name"
                                                        formControlName="operator_name" (click)="showOperator()"
                                                        readonly>

                                                    <input type="hidden" formControlName="operator_id"
                                                        name="operator_id">
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <div class="form-actions right">
                                    <button type="button" class="btn btn-danger mr-1">
                                        <i class="ft-x"></i> Cancelar
                                    </button>
                                    <button type="submit" class="btn btn-primary" (click)="save()">
                                        <i class="la la-check-square-o"></i> Guardar
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade text-left" id="operatorModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600">Operadores</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <label>Ingrese nombre operador: </label>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Presione enter para buscar"
                        (change)="searchOperator($event)">
                </div>

                <div class="table-responsive">
                    <table id="users-contacts"
                        class="table table-white-space table-bordered table-striped row-grouping display no-wrap icheck table-middle">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Nombre</th>
                                <th>País</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of operatorsList">
                                <td>1</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.country.name}}</td>
                                <td>
                                    <button class="btn btn-danger"
                                        (click)="handleSelectOperator(item)">Seleccionar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>