<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Lista de Kcoins</h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper mr-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a>Kcoins</a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-right col-md-4 col-12">
            <a class="btn btn-warning btn-min-width float-md-right box-shadow-4 mr-1 mb-1" routerLink="add">
                <i class="ft-plus"></i> Crear nuevo kcoins</a>
        </div>
    </div>
    <div class="content-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Kcoins</h4>
                        <a class="heading-elements-toggle">
                            <i class="la la-ellipsis-v font-medium-3"></i>
                        </a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <a data-action="collapse">
                                        <i class="ft-minus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-action="reload" (click)="list()">
                                        <i class="ft-rotate-cw"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <!--<p class="card-text">Listado de paises</p>-->

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <select type="text" class="form-control border-primary" placeholder="Buscar Avatar" [(ngModel)]="type_pax" (change)="search($event)">
                                        <option value="">TODOS LOS TIPOS</option>
                                        <option value="adults">ADULTOS</option>
                                        <option value="children">NIÑOS</option>
                                    </select>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="bg-primary white">
                                        <tr>
                                            <th>#</th>
                                            <th>PAX</th>
                                            <th>TYPO PAX</th>
                                            <th>KCOINS</th>
                                            <th width='330'></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let country of kcoinsList; index as i">
                                            <th scope="row">{{ country.id }}</th>
                                            <td>{{ country.pax }}</td>
                                            <td>{{ country.type_pax }}</td>
                                            <td>{{ country.kcoins }}</td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-min-width box-shadow-1 mr-1 mb-1" (click)="delete(country.id)">Eliminar</button>
                                                <button type="button" class="btn btn-primary btn-min-width box-shadow-1 mr-1 mb-1" (click)="update(country.id)">Actualizar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <theme-pagination-cpn [count]="count" [perPage]="pageSize" [page]="page" (changePage)="changePage($event)"></theme-pagination-cpn>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>