<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Lista de Usuarios</h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper mr-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Usuarios</a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-right col-md-4 col-12">
            <a class="btn btn-warning btn-min-width float-md-right box-shadow-4 mr-1 mb-1" routerLink="add">
                <i class="ft-plus"></i> Crear nuevo Usuario</a>
        </div>


    </div>
    <div class="content-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Usuarios</h4>
                        <a class="heading-elements-toggle">
                            <i class="la la-ellipsis-v font-medium-3"></i>
                        </a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <a data-action="collapse">
                                        <i class="ft-minus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-action="reload">
                                        <i class="ft-rotate-cw"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <input type="text" class="form-control border-primary" placeholder="Buscar User"
                                        [(ngModel)]="testSearch" (change)="search($event)">
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="bg-primary white">
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre de Usuario</th>
                                            <th>Tipo usuario</th>
                                            <th>Administrador</th>
                                            <th>Estado</th>
                                            <th>Último Login</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of userList; index as i">
                                            <th scope="row">{{ user.id }}</th>
                                            <td>{{ user.user_name }}</td>
                                            <td>{{ (user.type_user == "0") ? "Sin asignar":
                                                user.type_user }}</td>
                                            <td>
                                                {{ ( user.is_admin == true) ? "Si":"No"}}
                                            </td>
                                            <td>
                                                <button class="btn btn-sm {{ user.status ? 'btn-outline-success' : 'btn-outline-danger' }} round"
                                                    type="button" (click)="changeStatus(user, i)">
                                                    {{ user.status ? 'Activo': 'Inactivo' }}
                                                </button>
                                            </td>
                                            <td>{{ user.last_login }}</td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-min-width box-shadow-1 mr-1 mb-1"
                                                    (click)="deleteOperator(user.id)">Eliminar</button>
                                                <button type="button" class="btn btn-primary btn-min-width box-shadow-1 mr-1 mb-1"
                                                    (click)="updateOperator(user.id)">Actualizar</button>
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                            <theme-pagination-cpn [count]="count" [perPage]="pageSize" [page]="page" (changePage)="changePage($event)"></theme-pagination-cpn>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>