<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Lista de Avatars</h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper mr-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a>Avatars</a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-right col-md-4 col-12">
            <a class="btn btn-warning btn-min-width float-md-right box-shadow-4 mr-1 mb-1" routerLink="add">
                <i class="ft-plus"></i> Crear nuevo avatar</a>
        </div>
    </div>
    <div class="content-body">

        <div class="row">
            <div class="form-group col-md-4">
                <input type="text" class="form-control border-primary" placeholder="Buscar Avatar" [(ngModel)]="testSearch" (change)="search($event)">
            </div>
            <div class="form-group col-md-4">
                <select type="text" class="form-control border-primary" placeholder="Buscar Avatar" [(ngModel)]="status" (change)="search($event)">
                    <option value="">TODOS LOS ESTADOS</option>
                    <option value="1">DISPONIBLE</option>
                    <option value="0">NO DISPONIBLE</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <select type="text" class="form-control border-primary" placeholder="Buscar Avatar" [(ngModel)]="is_free" (change)="search($event)">
                    <option value="">TODOS LOS PRECIOS</option>
                    <option value="1">FREE</option>
                    <option value="0">KCOINS</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div *ngFor="let avatar of avatarList; index as i" class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
                <!-- Predefined Views -->
                <div class="card">
                    <div class="card-head">
                        <div class="align-self-center halfway-fab text-center p-1">
                            <span class="avatar avatar-lg avatar-online rounded-circle">
                                <img [src]="urlBaseImage + avatar.url" alt="avatar" style="height: 100px; width: 100px; border-radius: 50px;">
                            </span>
                        </div>
                        <div class="text-center" style="padding-bottom: 10px">
                            <span class="font-medium-2 text-uppercase">{{ avatar.name }}</span>
                            <div>
                                <button class="btn btn-sm {{ avatar.status ? 'btn-outline-success' : 'btn-outline-danger' }} round" type="button" (click)="changeStatus(avatar, i)">
                                    {{ avatar.status | statusAvatarPipe }}
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card-body border-top-blue-grey border-top-lighten-5 text-center" style="font-size: 10px; padding: 10px">
                        <!-- contacts view -->
                        <div *ngIf="avatar.is_free">
                            <strong class="font-medium-2 text-uppercase" style="color: red;">FREE</strong>
                        </div>
                        <div *ngIf="!avatar.is_free">
                            <strong class="font-medium-2 text-uppercase" style="color: orange;">{{ avatar.kcoins }} Kcoins</strong>
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example" style="margin-top: 10px">
                            <button type="button" class="btn btn-sm btn-outline-primary" style="width: 50%" (click)="updateAvatar(avatar.id)">Editar</button>
                            <button type="button" class="btn btn-sm btn-outline-danger" style="width: 50%" (click)="deleteAvatar(avatar.id)">Eliminar</button>
                        </div>

                    </div>
                </div>
                <!--/ Predefined Views -->
            </div>
        </div>

        <theme-pagination-cpn [count]="count" [perPage]="pageSize" [page]="page" (changePage)="changePage($event)"></theme-pagination-cpn>


    </div>
</div>