<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Crear nuevo operador</h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper mr-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/config/operator"> Operadores</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a>Crear nuevo</a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>

    </div>
    <div class="content-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <!--   <div class="card-header">
                        <h4 class="card-title">2-Columns Horizontal Form</h4>
                        <a class="heading-elements-toggle">
                            <i class="la la-ellipsis-v font-medium-3"></i>
                        </a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <a data-action="collapse">
                                        <i class="ft-minus"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div> -->
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="card-text">

                            </div>
                            <form class="form form-horizontal" [formGroup]="frmOperator">
                                <div class="form-body">
                                    <h4 class="form-section">
                                        <i class="la la-eye"></i> Operador</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput1">Nombre</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control border-primary" placeholder=""
                                                        formControlName="name" name="name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput2">Teléfono</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control border-primary" placeholder=""
                                                        formControlName="phone" name="phone">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput3">Web</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control border-primary" placeholder=""
                                                        formControlName="web" name="web">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput4">Dirección</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control border-primary" placeholder=""
                                                        formControlName="address" name="address">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput3">Correo 1</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control border-primary" placeholder=""
                                                        formControlName="email_one" name="email_one">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput4">Correo 2</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control border-primary" placeholder=""
                                                        formControlName="email_two" name="email_two">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput3">Correo 3</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control border-primary" placeholder=""
                                                        formControlName="email_three" name="email_three">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control">País</label>
                                                <div class="col-md-9">
                                                    <select type="text" select2 (onChangeSelect2)="changeCountry($event)"
                                                        style="width: 100%" class="form-control border-primary"
                                                        placeholder="" [(ngModel)]='frmOperator.value.country_id'
                                                        formControlName="country_id" name="country_id">
                                                        <option value="0">Seleccionar país</option>
                                                        <option [value]="country.id" *ngFor="let country of countryList">{{
                                                            country.name }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput3">Moneda</label>
                                                <div class="col-md-9">
                                                    <select type="text" select2 (onChangeSelect2)="changeMoney($event)"
                                                        style="width: 100%" class="form-control border-primary"
                                                        placeholder="" [(ngModel)]='frmOperator.value.money_id'
                                                        formControlName="money_id" name="money_id">
                                                        <option value="0">Seleccionar moneda</option>
                                                        <option [value]="money.id" *ngFor="let money of moneyList">{{
                                                            money.name }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-actions right">
                                    <button type="button" class="btn btn-danger mr-1">
                                        <i class="ft-x"></i> Cancelar
                                    </button>
                                    <button type="submit" class="btn btn-primary" (click)="save()">
                                        <i class="la la-check-square-o"></i> Guardar
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>