<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Crear nueva divisa</h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper mr-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="{{ backLink }}"> Divisa</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a>Crear nuevo</a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>

    </div>
    <div class="content-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="card-text">

                            </div>
                            <form class="form form-horizontal" [formGroup]="frmDivisa">
                                <div class="form-body">
                                    <h4 class="form-section"><i class="la la-eye"></i> Divisa</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput1">Moneda A</label>
                                                <div class="col-md-9">
                                                    <select class="form-control border-primary" formControlName="money_a_id"
                                                        name="money_a_id">
                                                        <option value="0">Seleccionar moneda</option>
                                                        <option [value]="money.id" *ngFor="let money of moneyList">{{
                                                            money.name }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput1">Moneda B</label>
                                                <div class="col-md-9">
                                                    <select class="form-control border-primary" placeholder="MX"
                                                        formControlName="money_b_id" name="money_b_id" (change)="changeMonedaB()">
                                                        <option value="0">Seleccionar moneda</option>
                                                        <option [value]="money.id" *ngFor="let money of moneyList">{{
                                                            money.name }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput1">Moneda A</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control border-primary" placeholder="Ingrese el valor"
                                                        formControlName="money_a_value" name="money_a_value">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput2">Moneda B</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control border-primary" placeholder="Ingrese el valor"
                                                        formControlName="money_b_value" name="money_b_value">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-actions right">
                                    <button type="button" class="btn btn-danger mr-1" (click)="cancel()">
                                        <i class="ft-x"></i> Cancelar
                                    </button>
                                    <button type="submit" class="btn btn-primary" (click)="save()">
                                        <i class="la la-check-square-o"></i> Guardar
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>