<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Crear nuevo avatar</h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper mr-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/game/avatar"> Avatar</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a>Crear nuevo</a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>

    </div>
    <div class="content-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="card-text">

                            </div>
                            <form class="form form-horizontal" [formGroup]="frmAvatar">
                                <div class="form-body">
                                    <h4 class="form-section">
                                        <i class="la la-eye"></i> Avatar</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput1">Nombre</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control border-primary" placeholder="" formControlName="name" name="name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput1"></label>
                                                <div class="col-md-9">
                                                    <img class="img-thumbnail img-fluid" style="max-width: 20%;" src="assets/img/poster.png" itemprop="thumbnail" alt="Image description"
                                                        id="avatar">
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput3">Es gratis</label>
                                                <div class="col-md-9">
                                                    <fieldset class="form-group">
                                                        <input type="checkbox" id="switchery" class="switchery" checked formControlName="is_free" name="is_free" />
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput4">Avatar</label>
                                                <div class="col-md-9">

                                                    <fieldset class="form-group">
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input" (change)="onFileChange($event)">
                                                            <label class="custom-file-label" for="inputGroupFile01">Choose
                                                                file
                                                            </label>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput3">KCoins</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control border-primary" placeholder="" formControlName="kcoins" name="kcoins">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                    </div>

                                </div>


                                <div class="form-actions right">

                                    <button type="button" class="btn btn-primary" (click)="save()">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>