<div class="vertical-layout vertical-menu-modern 2-columns   menu-expanded fixed-navbar">
    <theme-header-cpn>
    </theme-header-cpn>
    <theme-sidemenu-cpn></theme-sidemenu-cpn>
    <div class="app-content content">
        <router-outlet></router-outlet>
    </div>
    <theme-footer-cpn></theme-footer-cpn>

</div>