<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Reportes Deals por Asesor</h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper mr-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a>Deals</a>
                        </li>

                    </ol>
                </div>
            </div>

        </div>

        <div class="content-header-right col-md-4 col-12 right">
            <button class="btn btn-glow btn-success mr-1" (click)="exportExcel()">Exportar Excel</button>
            <!--  <button class="btn btn-glow btn-danger mr-1">Ver Pdf</button> -->
        </div>

    </div>
    <div class="content-body">
        <section>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form class="form" [formGroup]="frmReport">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="companyName">Asesor</label>
                                                <input type="text" class="form-control" placeholder="Seleccionar asesor"
                                                    name="killerName" formControlName="killerName"
                                                    (click)="showModalKiller()" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="companyName">Seleccionar fecha</label>
                                                <input type="text" class="form-control daterange" placeholder="fecha">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="companyName">Estado</label>
                                                <select class="form-control" formControlName="status" name="status">
                                                    <option value="">Todos</option>
                                                    <option value="0">Pendiente</option>
                                                    <option value="1">Reservado</option>
                                                    <option value="2">Pagado</option>
                                                    <option value="3">Cancelado</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="companyName">&nbsp;</label>
                                            <div style="display: block">
                                                <button class="btn mr-1 btn-dark " (click)="searchDeals()">Buscar
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Operador</th>
                                                    <th scope="col">Fecha reserva</th>
                                                    <th scope="col">Pax Adultos</th>
                                                    <th scope="col">Pax Niños</th>
                                                    <th scope="col">Total</th>
                                                    <th scope="col">Estado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let order of dealList;index as i">
                                                    <th scope="row">{{ order.code_internal }}</th>
                                                    <td>{{ order.operator.name }}</td>
                                                    <td>{{ order.date_order | dateOrderPipe:'YYYY-MM-DD' }}</td>
                                                    <td>{{ order.nro_adults}}</td>
                                                    <td>{{ order.nro_childs}}</td>
                                                    <td>{{ order.money.simbol }} {{ order.total }}</td>
                                                    <td>
                                                        <a class="btn btn-sm box-shadow-3 round btn-min-width"
                                                            href="javascript:void(0)"
                                                            [ngClass]="order.status|statusButtonColorPipe:'btn-'"
                                                            (click)="showDetail(order.id)">{{
                                                            order.status | statusTextDealPipe}}</a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <theme-pagination-cpn [count]="count" [perPage]="pageSize" [page]="page"
                                        (changePage)="changePage($event)"></theme-pagination-cpn>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section>

    </div>
</div>

<div class="modal fade text-left" id="killerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="basicModalLabel1">Buscar asesor</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="search" class="form-control round" placeholder="Buscar asesor ..."
                                [formControl]="searchField" />
                        </div>
                    </div>
                    <div class="row mr-top">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Pais</th>
                                            <th scope="col">KCoins</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let promotor of promotorList; index as i">
                                            <th scope="row">{{ i +1 }}</th>
                                            <td>{{promotor.name }} {{ promotor.last_name }}</td>
                                            <td>{{(promotor.country !== null) ? promotor.country.name : " ---- "}}</td>
                                            <td>{{ promotor.kcoins}}</td>
                                            <td> <button type="button" class="btn btn-outline-secondary mr-1 btn-sm"
                                                    (click)="selectPromotor(promotor)"><i class="ft-check"></i></button>
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-secondary " data-dismiss="modal" value="cerrar">
                </div>
            </form>
        </div>
    </div>
</div>