<audio src="./assets/sound/quite-impressed.mp3" preload="auto" id="sound-notify">

</audio>
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" (window:resize)="onResize($event)"
    data-scroll-to-active="true" data-img="assets/app-assets/images/backgrounds/02.jpg">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row position-relative">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="#">
                    <img class="brand-logo" alt="Chameleon admin logo" src="assets/img/logo_text.png" />
                    <!--  <h3 class="brand-text">Killer Sales</h3> -->
                </a>
            </li>
            <li class="nav-item d-none d-md-block nav-toggle">
                <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse">
                    <i class="toggle-icon ft-disc font-medium-3" data-ticon="ft-disc"></i>
                </a>
            </li>
            <li class="nav-item d-md-none">
                <a class="nav-link close-navbar">
                    <i class="ft-x"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

            <li class="nav-item">
                <a routerLink="/dashboard">
                    <i class="ft-home"></i>
                    <span class="menu-title" data-i18n="">Dashboard</span>
                    <span class="badge badge badge-pill badge-warning float-right">1.0</span>
                </a>
            </li>
            <li class="nav-item" *ngxPermissionsOnly="['admin','operator']">
                <a>
                    <i class="la la-cog"></i>
                    <span class="menu-title" data-i18n="">Configuración</span>
                </a>
                <ul class="menu-content">
                    <li [ngClass]="{'active': isItemSelected('/config/money') }" *ngxPermissionsOnly="['admin']">
                        <a class="menu-item" routerLink="/config/money">Moneda</a>
                    </li>
                    <li [ngClass]="{'active': isItemSelected('/config/operator') || isItemSelected('/config/operator')  }"
                        *ngxPermissionsOnly="['admin']">
                        <a class="menu-item" routerLink="/config/operator">Operador</a>
                    </li>

                    <li [ngClass]="{'active': isItemSelected('/config/catalog') }"
                        *ngxPermissionsOnly="['admin','operator']">
                        <a class="menu-item" routerLink="/config/catalog">Catálogo</a>
                    </li>

                    <li [ngClass]="{'active': isItemSelected('/config/user') }" *ngxPermissionsOnly="['admin']">
                        <a class="menu-item" routerLink="/config/user">Usuarios</a>
                    </li>
                    <li [ngClass]="{'active': isItemSelected('/config/country') }" *ngxPermissionsOnly="['admin']">
                        <a class="menu-item" routerLink="/config/country">Paises</a>
                    </li>
                    <li [ngClass]="{'active': isItemSelected('/config/cities') }" *ngxPermissionsOnly="['admin']">
                        <a class="menu-item" routerLink="/config/cities">Ciudades</a>
                    </li>
                    <li [ngClass]="{'active': isItemSelected('/config/hotel') }" *ngxPermissionsOnly="['admin']">
                        <a class="menu-item" routerLink="/config/hotel">Hoteles</a>
                    </li>
                    <li [ngClass]="{'active': isItemSelected('/config/package') }"
                        *ngxPermissionsOnly="['admin','operator']">
                        <a class="menu-item" routerLink="/config/package">Paquetes</a>
                    </li>
                    <li [ngClass]="{'active': isItemSelected('/config/category') }" *ngxPermissionsOnly="['admin']">
                        <a class="menu-item" routerLink="/config/category">Categorias</a>
                    </li>
                    <li [ngClass]="{'active': isItemSelected('/config/kcoins') }" *ngxPermissionsOnly="['admin']">
                        <a class="menu-item" routerLink="/config/kcoins">Kcoins</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" *ngxPermissionsOnly="['admin','operator']">
                <a routerLink="/deals/deal">
                    <i class="la la-cart-plus"></i>
                    <span class="menu-title" data-i18n="">Deals</span>
                    <span class="badge badge badge-pill badge-warning float-right" [hidden]="deals.length ==0">{{
                        deals.length }}</span>
                </a>

            </li>

            <li class="nav-item" *ngxPermissionsOnly="['admin']">
                <a>
                    <i class="la la-users"></i>
                    <span class="menu-title" data-i18n="">Crm</span>
                </a>
                <ul class="menu-content">
                    <li [ngClass]="{'active': isItemSelected('/crm/client') }" *ngxPermissionsOnly="['admin']">
                        <a class="menu-item" routerLink="/crm/client">Clientes</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item" *ngxPermissionsOnly="['admin','operator']">
                <a routerLink="/pickup/activity">
                    <i class="la la-cart-plus"></i>
                    <span class="menu-title" data-i18n="">Pick Up</span>
                </a>
            </li>

            <li class="nav-item" *ngxPermissionsOnly="['admin']">
                <a>
                    <i class="la la-gamepad"></i>
                    <span class="menu-title" data-i18n="">Game</span>
                </a>
                <ul class="menu-content">
                    <li [ngClass]="{'active': isItemSelected('/game/promotor') }">
                        <a class="menu-item" routerLink="/game/promotor">Premios</a>
                    </li>
                    <li [ngClass]="{'active': isItemSelected('/game/clan') }">
                        <a class="menu-item" routerLink="/game/clan">Clanes</a>
                    </li>

                    <li [ngClass]="{'active': isItemSelected('/game/promotor') }">
                        <a class="menu-item" routerLink="/game/promotor">Promotors</a>
                    </li>

                    <li [ngClass]="{'active': isItemSelected('/game/avatar') }">
                        <a class="menu-item" routerLink="/game/avatar">Avatars</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item" *ngxPermissionsOnly="['admin','operator']">
                <a>
                    <i class="la la-file"></i>
                    <span class="menu-title" data-i18n="">Reportes</span>
                </a>
                <ul class="menu-content">
                    <li [ngClass]="{'active': isItemSelected('/report/deals') }">
                        <a class="menu-item" routerLink="/report/deals">Deals</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
    <div class="navigation-background"></div>
</div>