<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Crear nuevo catálogo</h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper mr-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/config/catalog"> Catálogos</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a>Crear nuevo</a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>

    </div>
    <div class="content-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="card-text">

                            </div>
                            <form class="form form-horizontal" [formGroup]="frmCatalog">
                                <div class="form-body">
                                    <h4 class="form-section">
                                        <i class="la la-eye"></i> Catálogo</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput1">Nombre</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control border-primary"
                                                        placeholder="" formControlName="name" name="name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput1"></label>
                                                <div class="col-md-9">
                                                    <img class="img-thumbnail img-fluid" style="max-width: 20%;"
                                                        src="assets/img/poster.png" itemprop="thumbnail"
                                                        alt="Image description" id="avatar">
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput3">Operador</label>
                                                <div class="col-md-9">
                                                    <fieldset class="form-group">
                                                        <select class="form-control" formControlName="operator_id"
                                                            name="operator_id">
                                                            <option value="0">Elegir operador</option>
                                                            <option [value]="operator.id"
                                                                *ngFor="let operator of operatorsList">{{
                                                                operator.name }}</option>

                                                        </select>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput4">Poster</label>
                                                <div class="col-md-9">

                                                    <fieldset class="form-group">
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input"
                                                                (change)="onFileChange($event)">
                                                            <label class="custom-file-label"
                                                                for="inputGroupFile01">Choose
                                                                file
                                                            </label>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>



                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-12">
                <div class="header-activity">
                    <h4 style="padding-top: 15px">Actividades</h4>

                    <div class="form">
                        <div class="form-actions right">
                            <button type="submit" class="btn btn-secondary" data-toggle="modal"
                                data-target="#activityForm">
                                <i class="la la-plus"></i> Agregar
                            </button>

                            <button type="submit" class="btn btn-danger mr-1" (click)="showCloneModal()">
                                <i class="la la-copy"></i> Clonar
                            </button>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div *ngFor="let activity of activityList; index as i" class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
                        <!-- Predefined Views -->
                        <div class="card">
                            <img class="card-img-top img-fluid"
                                [src]="(activity.poster !== null)?urlBaseImage +activity.poster_500:'assets/img/poster.png'"
                                alt="Card image cap">
                            <div
                                style="position: absolute;top: 15px; right: 15px;font-size: 36; color: #FFF; text-shadow: 1px 1px 6px #000;">{{
                                activity.city.name }}</div>

                            <div class="card-body border-top-blue-grey border-top-lighten-5 text-center"
                                style="font-size: 12px; padding: 10px">
                                <!-- contacts view -->
                                <div class="text-center" style="padding-bottom: 10px">
                                    <div class="font-medium-2 text-uppercase"
                                        style="padding-bottom: 10px; min-height: 60px">{{
                                        activity.name }}</div>
                                    <div style="padding-bottom: 10px">
                                        <button
                                            class="btn btn-sm {{ activity.status ? 'btn-outline-success' : 'btn-outline-danger' }} round"
                                            type="button" (click)="changeStatus(activity, i)">
                                            {{ activity.status ? 'Activo': 'Inactivo' }}
                                        </button>
                                    </div>
                                </div>


                                <div>
                                    <table class="col-lg-12" style="margin-bottom: 10px">
                                        <tr>
                                            <td align="left">
                                                <div
                                                    [ngStyle]="{color: activity.is_transport ? '#0035ff' : '#ff0000',  textDecorationLine: activity.is_transport ? 'none' : 'line-through'}">
                                                    <strong>{{ 'TRANSPORTE' }}</strong>
                                                </div>
                                            </td>
                                            <td align="right">
                                                <div style="color: #e88300;">
                                                    <strong>{{ activity.max_capacity_day ?
                                                        activity.max_capacity_day+'/DíA'
                                                        :'ILIMITADAS' }}
                                                    </strong>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                    <table class="col-lg-12">
                                        <tr>
                                            <td></td>
                                            <td align="right">
                                                <strong>PÚBLICO</strong>
                                            </td>
                                            <td align="right">
                                                <strong>REPORTE</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>ADULTOS</strong>
                                            </td>
                                            <td align="right">${{ activity.price_pub_adult }}</td>
                                            <td align="right">${{ activity.price_rep_adult }}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>MENORES</strong>
                                            </td>
                                            <td align="right">${{ activity.price_pub_child }}</td>
                                            <td align="right">${{ activity.price_rep_child }}</td>
                                        </tr>
                                    </table>
                                </div>


                                <div class="btn-group" role="group" aria-label="Basic example" style="margin-top: 10px">
                                    <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal"
                                        data-target="#activityForm" data-keyboard="false" data-backdrop="false"
                                        (click)="editActivity(activity)">Editar</button>
                                    <button type="button" class="btn btn-sm btn-outline-danger" style="width: 50%"
                                        (click)="deleteActivity(activity)">Eliminar</button>
                                </div>

                                <div class="form-group pb-1 mt-1">
                                    <input type="checkbox" id="switchery" class="switchery" data-size="sm"
                                        (click)="selectedCloneActivity(activity)" [checked]="activity.selectedClone" />
                                    <label for="switchery" class="font-medium-2 ml-1">Clonar</label>
                                </div>

                            </div>
                        </div>
                        <!--/ Predefined Views -->
                    </div>
                </div>

                <div class="form-actions right">
                    <button type="button" class="btn btn-primary" (click)="save()">
                        <i class="la la-check-square-o"></i> Save
                    </button>
                </div>
            </div>

        </div>


    </div>
</div>

<div class="modal fade text-left" id="activityForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Agregar actividad</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" [formGroup]="frmActivity">
                <div class="modal-body">
                    <label>Nombre actividad: </label>
                    <div class="form-group">
                        <input type="text" placeholder="" class="form-control" formControlName="name" name="name">
                    </div>

                    <label>Descripción: </label>
                    <div class="form-group">
                        <textarea placeholder="" class="form-control" formControlName="description"
                            name="description"></textarea>
                    </div>

                    <label>Categoria: </label>
                    <fieldset class="form-group">
                        <select class="form-control" formControlName="category_id" name="category_id">
                            <option value="0">Seleccionar categoria</option>
                            <option [value]="category.id" *ngFor="let category of categoryList">{{ category.name }}
                            </option>
                        </select>
                    </fieldset>

                    <label>Poster</label>
                    <fieldset class="form-group">
                        <img class="img-thumbnail img-fluid" style="max-width: 20%;" src="assets/img/poster.png"
                            itemprop="thumbnail" alt="Image description" id="avatarActivity">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" (change)="onFileActivityChange($event)">
                            <label class="custom-file-label">Imagen de actividad</label>
                        </div>
                    </fieldset>

                    <label>Capacidad de Pax por día </label>
                    <div class="form-group">
                        <input type="text" placeholder="" class="form-control"
                            [ngClass]="{'is-invalid':pricePubAdult.errors?.pattern}" formControlName="max_capacity_day"
                            name="max_capacity_day">
                    </div>

                    <label>Precio Público Adulto: </label>
                    <div class="form-group">
                        <input type="text" placeholder="" class="form-control"
                            [ngClass]="{'is-invalid':pricePubAdult.errors?.pattern}" formControlName="price_pub_adult"
                            name="price_pub_adult">
                    </div>

                    <label>Precio Público Menor: </label>
                    <div class="form-group">
                        <input type="text" placeholder="" class="form-control" formControlName="price_pub_child"
                            name="price_pub_child">
                    </div>

                    <label>Precio Reporte Adulto: </label>
                    <div class="form-group">
                        <input type="text" placeholder="" class="form-control" formControlName="price_rep_adult"
                            name="price_rep_adult">
                    </div>

                    <label>Precio Reporte Menor: </label>
                    <div class="form-group">
                        <input type="text" placeholder="" class="form-control" formControlName="price_rep_child"
                            name="price_rep_child">
                    </div>

                    <div class="form-group pb-1">
                        <input type="checkbox" id="switchery" class="switchery" checked formControlName="is_transport"
                            name="is_transport" />
                        <label for="switchery" class="font-medium-2 text-bold-600 ml-1">Incluye transporte</label>
                    </div>

                    <label>Lugar: </label>
                    <fieldset class="form-group">
                        <select class="form-control" formControlName="city_id" name="city_id">
                            <option value="0">Lugar</option>
                            <option [value]="city.id" *ngFor="let city of citiesList">{{ city.name }}</option>
                        </select>
                    </fieldset>

                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-secondary " data-dismiss="modal" value="cerrar"
                        (click)="closeActivity()">
                    <input type="button" class="btn btn-primary " value="Guardar" (click)="addActivity()">
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade text-left" id="activityClone" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title">Clonar actividad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h5>Seleccionar operador destino</h5>

                            <select type="text" select2 (onChangeSelect2)="filterCatalog($event)" style="width: 100%"
                                class="form-control border-primary" placeholder="" [(ngModel)]='operatorModal'>
                                <option value="{{item.id}}" *ngFor="let item of operatorsList">{{ item.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="table-responsive">
                            <table id="users-contacts"
                                class="table table-white-space table-bordered table-striped row-grouping display no-wrap icheck table-middle">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nombre</th>
                                        <th>Poster</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let catalog of catalogsList">
                                        <td>1</td>
                                        <td>{{ catalog.name }}</td>
                                        <td> <img class="card-img-top img-fluid"
                                                [src]="(catalog.poster_100)?urlBaseImage +catalog.poster_100:'assets/img/poster.png'">
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" (click)="cloneActivity(catalog.id)">Realizar
                                                clonación</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>