<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
        <div class="content-header-left col-md-4 col-12 mb-2">
            <h3 class="content-header-title mb-0 d-inline-block">Lista de Deals</h3>
        </div>

        <div class="content-header-right col-md-8 col-12">
            <div class="breadcrumbs-top float-md-right">
                <div class="breadcrumb-wrapper mr-1">
                    <div class="btn-group mr-1 mb-1">
                        <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton6"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Elegir vista
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton6">
                            <a class="dropdown-item" [ngClass]="{'active' : viewType == 'report'}"
                                href="javascript:void(0)" (click)="handleSelectView('report')">Vista
                                Reporte</a>
                            <a class="dropdown-item" [ngClass]="{'active' : viewType == 'public'}"
                                href="javascript:void(0)" (click)="handleSelectView('public')">Vista
                                Publico</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="content-body">
        <section class="card">
            <div id="invoice-template" class="card-body" *ngIf="orderData.order!== null">
                <!-- Invoice Company Details -->
                <div id="invoice-company-details" class="row">
                    <div class="col-md-6 col-sm-12 text-left text-md-left">
                        <!--  <img src="assets/app-assets/images/logo/logo-80x80.png" alt="company logo" class="mb-2" width="70"> -->
                        <ul class="px-0 list-unstyled">
                            <li class="text-bold-700">{{ orderData.order.operator.name}}</li>
                            <li>{{ orderData.order.operator.phone}}</li>
                            <li>{{ orderData.order.operator.address}}</li>
                            <li>{{ orderData.order.operator.website}}</li>
                        </ul>

                    </div>
                    <div class="col-md-6 col-sm-12 text-center text-md-right">
                        <h2>ORDEN</h2>
                        <p># {{orderData.order.code_internal}}</p>
                        <p>{{ orderData.order.date_order | dateOrderPipe : "YYYY-MM-DD HH:mm:ss"}}</p>
                    </div>
                </div>
                <!--/ Invoice Company Details -->

                <!-- Invoice Customer Details -->
                <div id="invoice-customer-details" class="row pt-2">
                    <div class="col-md-6 col-sm-12">
                        <p class="text-muted">Actividades</p>
                    </div>

                </div>
                <!--/ Invoice Customer Details -->

                <!-- Invoice Items Details -->
                <div id="invoice-items-details" class="pt-2">
                    <div class="row">
                        <div class="table-responsive col-sm-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Actividad / Servicio</th>
                                        <th class="text-right">Adultos</th>
                                        <th class="text-right">Niños</th>
                                        <th class="text-right">PickUp</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let activity of orderData.activities; index as i">
                                        <th scope="row">{{ i + 1 }} {{ activity.activity.id }}</th>
                                        <td>
                                            <p>{{ activity.activity.name}}</p>
                                            <!-- <p class="text-muted">Vestibulum euismod est eu elit convallis.</p> -->
                                        </td>
                                        <td class="text-right">{{ orderData.order.money.simbol }} {{ (viewType ==
                                            "report")? activity.price_rep_adult :
                                            activity.price_pub_adult }}</td>
                                        <td class="text-right">{{ orderData.order.money.simbol }} {{ (viewType ==
                                            "report")? activity.price_rep_child :
                                            activity.price_pub_child }}</td>
                                        <td class="text-right"> {{ activity.pickup_text }}</td>
                                        <td>

                                            <button type="button" class="btn btn-info btn-min-width mr-1 mb-1"
                                                data-toggle="modal" data-target="#pickupForm" data-keyboard="false"
                                                (click)="showPickUp(activity)">Cambiar
                                                Pick up</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-sm-12 text-center text-md-left">
                            <p class="lead">Datos del Cliente :</p>
                            <div class="row">
                                <div class="col-md-8">
                                    <table class="table table-borderless table-sm">
                                        <tbody>
                                            <tr>
                                                <td>Nombres:</td>
                                                <td class="text-right">{{ orderData.order.name_client }}</td>
                                            </tr>
                                            <tr>
                                                <td>Télefono:</td>
                                                <td class="text-right">{{ orderData.order.phone_client }}</td>
                                            </tr>
                                            <tr>
                                                <td>Correo:</td>
                                                <td class="text-right">{{ orderData.order.email_client }}</td>
                                            </tr>
                                            <tr *ngIf="orderData.order.hotel !== null">
                                                <td>Hospedado en:</td>
                                                <td class="text-right">{{ orderData.order.hotel.name}} # Hab : {{
                                                    orderData.order.nro_hab }}</td>
                                            </tr>

                                            <tr *ngIf="orderData.order.address_client ! null">
                                                <td>Comentarios:</td>
                                                <td class="text-right">{{ orderData.order.address_client }}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <p class="lead">Total</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Moneda : </td>
                                            <td class="text-right">{{ orderData.order.money.name }}</td>
                                        </tr>
                                        <tr>
                                            <td>Tipo de Pago : </td>
                                            <td class="text-right">{{ orderData.order.type_payment }}</td>
                                        </tr>
                                        <tr>
                                            <td>Método de Pago : </td>
                                            <td class="text-right">{{ orderData.order.method_payment }}</td>
                                        </tr>
                                        <tr>
                                            <td>Total Adultos ({{ orderData.order?.nro_adults }})</td>
                                            <td class="text-right">$ {{ totalData.adults }}</td>
                                        </tr>
                                        <tr>
                                            <td>Total Niños ({{ orderData.order?.nro_childs }})</td>
                                            <td class="text-right">$ {{ totalData.childs }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-800">Total</td>
                                            <td class="text-bold-800 text-right"> {{ orderData.order.money.simbol }} {{
                                                orderData.order?.total }}</td>
                                        </tr>

                                        <tr *ngIf="orderData.order.type_payment == 'deposito'">
                                            <td class="text-bold-800">Déposito</td>
                                            <td class="text-bold-800 text-right"> {{ orderData.order.money.simbol }} {{
                                                orderData.order?.total_payment
                                                }}</td>
                                        </tr>

                                        <tr *ngIf="orderData.order.type_payment == 'deposito'">
                                            <td class="text-bold-800">Balance</td>
                                            <td class="text-bold-800 text-right balance"> {{
                                                orderData.order.money.simbol }} {{ orderData.order?.total
                                                -orderData.order?.total_payment
                                                }}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center">
                                <br>

                                <!--   <img src="assets/app-assets/images/pages/signature-scan.png" alt="signature"
                                    class="height-100" /> -->
                                <h6>{{ orderData.order.promotor.name }} {{ orderData.order.promotor.last_name }}</h6>
                                <p class="text-muted">Asesor</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Invoice Footer -->
                <div id="invoice-footer">
                    <div class="row">
                        <div class="col-md-7 col-sm-12" style="color: white">
                            <h6 style="color: white">Terms & Condition</h6>
                            <p>You know, being a test pilot isn't always the healthiest business in the world. We
                                predict too much for the next year and yet far too little for the next 10.</p>
                        </div>
                        <div class="col-md-5 col-sm-12 text-center">
                            <button type="button" class="btn btn-warning btn-lg my-1"
                                *ngIf="orderData.order.status == 1" (click)="updateStatus(3)"><i
                                    class="la la-paper-plane-o"></i>
                                Cancelar </button>

                            <button type="button" class="btn btn-success btn-min-width mr-1 mb-1"
                                *ngIf="orderData.order.status == 0" (click)="updateStatus(1)">Confirmar
                                Reserva</button>
                        </div>
                    </div>
                </div>
                <!--/ Invoice Footer -->

            </div>
        </section>
    </div>
</div>

<div class="modal fade" id="pickupForm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-text-bold-600">Seleccionar PickUp</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="col-md-6">
                    <input type="search" class="form-control round" placeholder="Buscar pickup ..."
                        [(ngModel)]="txtSearchPickup" />
                </div>
                <br>
                <div class="card-content collapse show">
                    <ul class="list-group">
                        <a href="javascript:void(0)"
                            class="list-group-item list-group-item-action flex-column align-items-start"
                            [ngClass]="{'active':item.active == true}"
                            *ngFor="let item of activityPickUps | searchPickupPipe : txtSearchPickup"
                            (click)="selectedPickUp(item)">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="text-bold-600" [ngClass]="{'white':item.active == true}">{{ item.address }}
                                </h5>
                                <small>{{ item.time }}</small>
                            </div>

                        </a>
                    </ul>

                </div>
            </div>
            <div class="modal-footer">
                <input type="reset" class="btn btn-secondary " data-dismiss="modal" value="cerrar">
                <input type="button" class="btn btn-primary " value="Guardar" (click)="addActivity()">
            </div>

        </div>
    </div>
</div>