<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Listado de divisas</h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper mr-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a>Divisas</a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-right col-md-4 col-12">
            <a class="btn btn-warning btn-min-width float-md-right box-shadow-4 mr-1 mb-1" routerLink="add">
                <i class="ft-plus"></i> Crear nueva divisa</a>
        </div>
    </div>
    <div class="content-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Divisas</h4>
                        <a class="heading-elements-toggle">
                            <i class="la la-ellipsis-v font-medium-3"></i>
                        </a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <a data-action="collapse">
                                        <i class="ft-minus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-action="reload" (click)="list()">
                                        <i class="ft-rotate-cw"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="bg-primary white">
                                        <tr>
                                            <th>#</th>
                                            <th>Moneda A</th>
                                            <th>Moneda B </th>
                                            <th width='330'></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let divisa of divisasList">
                                            <th scope="row">{{ divisa.id }}</th>
                                            <td>{{ divisa.money_a.simbol }} {{ divisa.money_a_value }} ({{
                                                divisa.money_a.name }}) </td>
                                            <td>{{ divisa.money_b.simbol }} {{ divisa.money_b_value }} ({{
                                                divisa.money_b.name }}) </td>

                                            <td>
                                                <button type="button" class="btn btn-icon mr-1 btn-danger" (click)="delete(divisa.id)"><i
                                                        class="la la-trash-o"></i></button>
                                                <button type="button" class="btn btn-icon mr-1 btn-primary" (click)="update(divisa.id)">
                                                    <i class="la la-edit"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>