<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Lista de Operadores</h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper mr-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Operadores</a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-right col-md-4 col-12">
            <a class="btn btn-warning btn-min-width float-md-right box-shadow-4 mr-1 mb-1" routerLink="add">
                <i class="ft-plus"></i> Crear nuevo operador</a>
        </div>
    </div>
    <div class="content-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Operadores</h4>
                        <a class="heading-elements-toggle">
                            <i class="la la-ellipsis-v font-medium-3"></i>
                        </a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <a data-action="collapse">
                                        <i class="ft-minus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-action="reload">
                                        <i class="ft-rotate-cw"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <input type="text" class="form-control border-primary" placeholder="Buscar Operador"
                                        [(ngModel)]="testSearch" (change)="search($event)">
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="bg-primary white">
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>Teléfono</th>
                                            <th>Web</th>
                                            <th>Email</th>
                                            <th>País</th>
                                            <th>Estado</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let operator of operatorsList; index as i">
                                            <th scope="row">{{ operator.id }}</th>
                                            <td>{{ operator.name }}</td>
                                            <td>{{ operator.phone }}</td>
                                            <td>{{ operator.web }}</td>
                                            <td>{{ operator.email_one }}</td>
                                            <td>{{ (operator.country !== null)? operator.country.name: "------" }}</td>
                                            <td>
                                                <button class="btn btn-sm {{ operator.status ? 'btn-outline-success' : 'btn-outline-danger' }} round"
                                                    type="button" (click)="changeStatus(operator, i)">
                                                    {{ operator.status ? 'Activo': 'Inactivo' }}
                                                </button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-icon mr-1 btn-danger" (click)="deleteOperator(operator.id)"
                                                    data-toggle="tooltip" data-original-title="Eliminar">
                                                    <i class="la la-trash-o"></i></button>
                                                <button type="button" class="btn btn-icon mr-1 btn-primary" (click)="updateOperator(operator.id)"
                                                    data-toggle="tooltip" data-original-title="Editar"><i class="la la-edit"></i></button>
                                                <button type="button" class="btn btn-icon mr-1  btn-outline-secondary"
                                                    data-toggle="tooltip" data-original-title="Divisas" (click)="showDivisas(operator.id)"><i
                                                        class="la la-money"></i></button>
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                            <theme-pagination-cpn [count]="count" [perPage]="pageSize" [page]="page" (changePage)="changePage($event)"></theme-pagination-cpn>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>