<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Lista de Clanes</h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper mr-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a>Clanes</a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-right col-md-4 col-12">
            <a class="btn btn-warning btn-min-width float-md-right box-shadow-4 mr-1 mb-1" routerLink="add">
                <i class="ft-plus"></i> Crear nuevo clan</a>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <input type="text" class="form-control border-primary" placeholder="Buscar Clan" [(ngModel)]="testSearch" (change)="search($event)">
        </div>
    </div>

    <div class="row">

        <div *ngFor="let clan of clanesList; index as i" class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
            <!-- Predefined Views -->
            <div class="card">
                <div class="card-head">
                    <div class="align-self-center halfway-fab text-center p-1">
                        <span class="avatar avatar-lg avatar-online rounded-circle">
                            <img *ngIf='clan.poster' src="{{ BASE_URL + clan.poster }}" alt="avatar" style="height: 100px; width: 100px; border-radius: 50px;">
                            <div *ngIf='!clan.poster' style="height: 100px; width: 100px; border-radius: 50px; background-color: #CCC; margin: 0 auto;"></div>
                        </span>
                    </div>
                    <div class="text-center" style="padding-bottom: 10px">
                        <span class="font-medium-2 text-uppercase">{{ clan.name }}</span>
                        <div>
                            <button class="btn btn-sm {{ clan.status ? 'btn-outline-success' : 'btn-outline-danger' }} round" type="button" (click)="changeStatus(clan, i)">
                                {{ clan.status ? 'Activo': 'Inactivo' }}
                            </button>
                        </div>
                    </div>
                </div>
                <!--<div class="card-body border-top-blue-grey border-top-lighten-5 text-center" style="font-size: 10px; padding: 10px">
                    <div>
                        <strong class="icon-user"></strong> {{ clan.operator ? clan.operator.name : 'SIN OPERADOR' }}
                    </div>
                    <div>
                        <strong class="icon-envelope"></strong> {{ clan.email }}
                    </div>
                    <div>
                        <strong class="icon-screen-smartphone"></strong> {{ clan.phone }}
                    </div>

                    <div class="btn-group" role="group" aria-label="Basic example" style="margin-top: 10px">
                        <button type="button" class="btn btn-sm btn-outline-primary" style="width: 50%" (click)="updateclan(clan.id)">Editar</button>
                        <button type="button" class="btn btn-sm btn-outline-danger" style="width: 50%" (click)="deleteclan(clan.id)">Eliminar</button>
                    </div>
                </div>-->
            </div>
            <!--/ Predefined Views -->
        </div>
    </div>

    <theme-pagination-cpn [count]="count" [perPage]="pageSize" [page]="page" (changePage)="changePage($event)"></theme-pagination-cpn>

</div>