<div
    class="vertical-layout vertical-menu 1-column  bg-gradient-directional-danger menu-expanded blank-page blank-page  pace-done">


    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-wrapper-before"></div>
            <div class="content-header row"></div>
            <div class="content-body">
                <section class="flexbox-container bg-hexagons-danger">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-md-4 col-10 p-0">
                            <div class="card-header bg-transparent border-0">
                                <h2 class="error-code text-center mb-2 white">400</h2>
                                <h3 class="text-uppercase text-center white">Página no existe</h3>
                            </div>
                            <div class="card-content">
                                <div class="row py-2 text-center">
                                    <div class="col-12">
                                        <a routerLink="/dashboard" class="btn btn-white danger box-shadow-4">
                                            <i class="ft-home"></i> Ir a Dashboard</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-transparent">
                                <div class="row">
                                    <p class="text-muted text-center col-12 py-1 white">© 2020
                                        <a href="#" class="white text-bold-700">Behlaak Tours </a>
                                    </p>

                                    <div class="col-12 text-center">
                                        <a href="#" class="font-large-1 white p-2 ">
                                            <span class="ft-facebook"></span>
                                        </a>
                                        <a href="#" class="font-large-1 white ">
                                            <span class="ft-twitter"></span>
                                        </a>
                                        <a href="#" class="font-large-1 white p-2">
                                            <span class="ft-instagram"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>

</div>