<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Lista de Catálogos</h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper mr-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a>Catálogos</a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-right col-md-4 col-12">
            <a class="btn btn-warning btn-min-width float-md-right box-shadow-4 mr-1 mb-1" routerLink="add">
                <i class="ft-plus"></i> Crear nuevo catálogo</a>
        </div>
    </div>
    <div class="content-body">

        <div class="form-group row">
            <div class="col-md-4">
                <input type="text" class="form-control border-primary" placeholder="Buscar Catálogo" [(ngModel)]="testSearch" (change)="search($event)">
            </div>
        </div>

        <div class="row">

            <div *ngFor="let catalog of catalogList; index as i" class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
                <!-- Predefined Views -->
                <div class="card">

                    <img class="card-img-top img-fluid" [src]="(catalog.poster_100)?urlBaseImage +catalog.poster_100:'assets/img/poster.png'"
                        alt="Card image cap">


                    <div class="card-body border-top-blue-grey border-top-lighten-5 text-center" style="font-size: 10px; padding: 10px">
                        <!-- contacts view -->
                        <div class="text-center" style="padding-bottom: 10px">
                            <span class="font-medium-2 text-uppercase">{{ catalog.name }}</span>
                            <div>
                                <button class="btn btn-sm {{ catalog.status ? 'btn-outline-success' : 'btn-outline-danger' }} round" type="button" (click)="changeStatus(catalog, i)">
                                    {{ catalog.status ? 'Activo': 'Inactivo' }}
                                </button>
                            </div>
                        </div>
                        <div>
                            <strong class="icon-user"></strong> {{ catalog.operator ? catalog.operator.name : 'SIN OPERADOR' }}
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example" style="margin-top: 10px">
                            <button type="button" class="btn btn-sm btn-outline-primary" style="width: 50%" (click)="updateCatalog(catalog.id)">Editar</button>
                            <button type="button" class="btn btn-sm btn-outline-danger" style="width: 50%" (click)="deleteCatalog(catalog.id, i)">Eliminar</button>
                        </div>

                    </div>
                </div>
                <!--/ Predefined Views -->
            </div>
        </div>


        <theme-pagination-cpn [count]="count" [perPage]="pageSize" [page]="page" (changePage)="changePage($event)"></theme-pagination-cpn>

    </div>
</div>