<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Lista de Pickup</h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper mr-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a routerLink="/pickup/activity">Pickup</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a>{{ activity.name }} ( {{ activity.catalog.name }} )</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-right col-md-4 col-12">
            <button type="submit" class="btn btn-light btn-min-width float-md-right box-shadow-4 mr-1 mb-1" (click)="clonePickupAll()">
                <i class="la la-copy"></i> Clonar pickup
            </button>
            <button type="submit" class="btn btn-secondary btn-min-width float-md-right box-shadow-4 mr-1 mb-1" (click)="createPickup()">
                <i class="la la-plus"></i> Crear Pickup
            </button>
        </div>
    </div>


    <div class="content-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Pickup - {{ activity.name }} ( {{ activity.catalog.name }} )</h4>
                        <a class="heading-elements-toggle">
                            <i class="la la-ellipsis-v font-medium-3"></i>
                        </a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <a data-action="collapse">
                                        <i class="ft-minus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-action="reload">
                                        <i class="ft-rotate-cw"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="bg-primary white">
                                        <tr>
                                            <th>#</th>
                                            <th>Actividad</th>
                                            <th>Lugar</th>
                                            <th>Lunes</th>
                                            <th>Martes</th>
                                            <th>Miercoles</th>
                                            <th>Jueves</th>
                                            <th>Viernes</th>
                                            <th>Sábado</th>
                                            <th>Domingo</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let pickup of pickupList; index as i">
                                            <th scope="row">{{ pickup.id }}</th>
                                            <td>{{ pickup.activity.name }}</td>
                                            <td>{{ pickup.lu_address }}</td>
                                            <td>
                                                <div *ngIf="pickup.lu_time">
                                                    <div>{{ pickup.lu_time }}</div>
                                                </div>
                                                <a *ngIf="!pickup.lu_time">-</a>
                                            </td>
                                            <td align='center'>
                                                <div *ngIf="pickup.ma_time">
                                                    <div>{{ pickup.ma_time }}</div>
                                                </div>
                                                <a *ngIf="!pickup.ma_time">-</a>
                                            </td>
                                            <td align='center'>
                                                <div *ngIf="pickup.mi_time">
                                                    <div>{{ pickup.mi_time }}</div>
                                                </div>
                                                <a *ngIf="!pickup.mi_time">-</a>
                                            </td>
                                            <td align='center'>
                                                <div *ngIf="pickup.ju_time">
                                                    <div>{{ pickup.ju_time }}</div>
                                                </div>
                                                <a *ngIf="!pickup.ju_time">-</a>
                                            </td>
                                            <td align='center'>
                                                <div *ngIf="pickup.vi_time">
                                                    <div>{{ pickup.vi_time }}</div>
                                                </div>
                                                <a *ngIf="!pickup.vi_time">-</a>
                                            </td>
                                            <td align='center'>
                                                <div *ngIf="pickup.sa_time">
                                                    <div>{{ pickup.sa_time }}</div>
                                                </div>
                                                <a *ngIf="!pickup.sa_time">-</a>
                                            </td>
                                            <td align='center'>
                                                <div *ngIf="pickup.do_time">
                                                    <div>{{ pickup.do_time }}</div>
                                                </div>
                                                <a *ngIf="!pickup.do_time">-</a>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger btn-sm btn-min-width float-md-right  mr-1 mb-1"
                                                    (click)="deletePickup(pickup, i)">Eliminar</button>
                                                <button class="btn btn-secondary btn-sm btn-min-width float-md-right  mr-1 mb-1"
                                                    (click)="editPickup(pickup)">Editar</button>
                                                <button class="btn btn-light btn-sm btn-min-width float-md-right  mr-1 mb-1"
                                                    (click)="clonePickup(pickup)">Clonar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <theme-pagination-cpn [count]="count" [perPage]="pageSize" [page]="page" (changePage)="changePage($event)"></theme-pagination-cpn>
    </div>
</div>



<div class="modal fade text-left" id="pickupForm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-text-bold-600">{{ isEditable?'Acualizar Pick Up':'Nuevo Pick Up' }}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" [formGroup]="frmPickup">
                <div class="modal-body">
                    <!--<label>{{ isEditable? 'Actividad': 'Seleccionar Actividad:' }} </label>
                    <fieldset *ngIf="!isEditable" class="form-group">
                        <select class="form-control" formControlName="activity_id" name="activity_id">
                            <option [value]="activity.id" *ngFor="let activity of activityList">{{ activity.name }}</option>
                        </select>
                    </fieldset>-->
                    <div class="form-group">
                        <label>Actividad: </label>
                        <input type="text" value="{{ activity.name }}" disabled placeholder="Actividad" class="form-control ">
                    </div>

                    <div class="form-group">
                        <label>Catálogo: </label>
                        <input type="text" value="{{ activity.catalog.name }}" disabled placeholder="Catálogo" class="form-control ">
                    </div>

                    <div class="form-group">
                        <label>Lugar (Dirección): </label>
                        <input type="text" placeholder="Dirección" class="form-control" formControlName="checked_address"
                            name="checked_address" (keyup)="onAddressChange($event)">
                    </div>

                    <div class="form-group">
                        <label><input type="checkbox" formControlName="is_checked_all" name="is_checked_all" />&nbsp;
                            Configurar varios días a la vez</label>
                    </div>

                    <div *ngIf="frmPickup.value.is_checked_all" class="row form-group">
                        <div class="col-md-4">
                            <select type="text" placeholder="HH:mm" class="form-control" formControlName="checked_time"
                                name="checked_time">
                                <option *ngFor="let time of times | timeFilterPipe:frmPickup.value.time_filter; index as i"
                                    value="{{ time.value }}" [selected]="time.value === frmPickup.value.checked_time">{{
                                    time.label }}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select type="text" placeholder="HH:mm" class="form-control" formControlName="time_filter"
                                name="time_filter" (change)="handleSelectedTimeFilter()">
                                <option value="0"> Filtrar</option>
                                <option value="am"> AM</option>
                                <option value="pm"> PM</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary pull-right" (click)="applyAllCheckeds()">Aplicar</button>
                        </div>
                    </div>

                    <div *ngIf="frmPickup.value.is_checked_all" class="row form-group">
                        <div class="col-md-12">
                            <label><input type="checkbox" formControlName="checked_all" name="checked_all" (change)="handleSelectedAll()" />&nbsp;Seleccionar
                                todos: </label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-3">
                            <label><input *ngIf="frmPickup.value.is_checked_all" type="checkbox" formControlName="lu_checked"
                                    name="lu_checked" />&nbsp;Lunes: </label>
                        </div>
                        <div class="col-md-5 hidden">
                            <input type="text" placeholder="Dirección" class="form-control" formControlName="lu_address"
                                name="lu_address">
                        </div>
                        <div class="col-md-4">
                            <select placeholder="HH:mm" class="form-control time" style="width: 100%" formControlName="lu_time"
                                name="lu_time">
                                <option *ngFor="let time of times; index as i" value="{{ time.value }}" [selected]="time.value === frmPickup.value.lu_time">{{
                                    time.label }}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-info" (click)="clearTime(0)"> Limpiar</button>
                        </div>

                    </div>

                    <div class="row form-group">
                        <div class="col-md-3">
                            <label><input *ngIf="frmPickup.value.is_checked_all" type="checkbox" formControlName="ma_checked"
                                    name="ma_checked" />&nbsp;Martes: </label>
                        </div>
                        <div class="col-md-2 hidden">
                            <input type="text" placeholder="Dirección" class="form-control" formControlName="ma_address"
                                name="ma_address">
                        </div>
                        <div class="col-md-4">
                            <select type="text" style="width: 100%" placeholder="HH:mm" class="form-control time"
                                formControlName="ma_time" name="ma_time">
                                <option *ngFor="let time of times; index as i" value="{{ time.value }}" [selected]="time.value === frmPickup.value.ma_time">{{
                                    time.label }}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-info" (click)="clearTime(1)"> Limpiar</button>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-3">
                            <label><input *ngIf="frmPickup.value.is_checked_all" type="checkbox" formControlName="mi_checked"
                                    name="mi_checked" />&nbsp;Miércoles: </label>
                        </div>
                        <div class="col-md-5 hidden">
                            <input type="text" placeholder="Dirección" class="form-control" formControlName="mi_address"
                                name="mi_address">
                        </div>
                        <div class="col-md-4">
                            <select type="text" style="width: 100%" placeholder="HH:mm" class="form-control time"
                                formControlName="mi_time" name="mi_time">
                                <option *ngFor="let time of times; index as i" value="{{ time.value }}" [selected]="time.value === frmPickup.value.mi_time">{{
                                    time.label }}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-info" (click)="clearTime(2)"> Limpiar</button>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-3">
                            <label><input *ngIf="frmPickup.value.is_checked_all" type="checkbox" formControlName="ju_checked"
                                    name="ju_checked" />&nbsp;Jueves: </label>
                        </div>
                        <div class="col-md-5 hidden">
                            <input type="text" placeholder="Dirección" class="form-control" formControlName="ju_address"
                                name="ju_address">
                        </div>
                        <div class="col-md-4">
                            <select type="text" style="width: 100%" placeholder="HH:mm" class="form-control time"
                                formControlName="ju_time" name="ju_time">
                                <option *ngFor="let time of times; index as i" value="{{ time.value }}" [selected]="time.value === frmPickup.value.ju_time">{{
                                    time.label }}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-info" (click)="clearTime(3)"> Limpiar</button>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-3">
                            <label><input *ngIf="frmPickup.value.is_checked_all" type="checkbox" formControlName="vi_checked"
                                    name="vi_checked" />&nbsp;Viernes: </label>
                        </div>
                        <div class="col-md-5 hidden">
                            <input type="text" placeholder="Dirección" class="form-control" formControlName="vi_address"
                                name="vi_address">
                        </div>
                        <div class="col-md-4">
                            <select type="text" style="width: 100%" placeholder="HH:mm" class="form-control time"
                                formControlName="vi_time" name="vi_time">
                                <option *ngFor="let time of times; index as i" value="{{ time.value }}" [selected]="time.value === frmPickup.value.vi_time">{{
                                    time.label }}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-info" (click)="clearTime(4)"> Limpiar</button>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-3">
                            <label><input *ngIf="frmPickup.value.is_checked_all" type="checkbox" formControlName="sa_checked"
                                    name="sa_checked" />&nbsp;Sábado: </label>
                        </div>
                        <div class="col-md-5 hidden">
                            <input type="text" placeholder="Dirección" class="form-control" formControlName="sa_address"
                                name="sa_address">
                        </div>
                        <div class="col-md-4">
                            <select type="text" style="width: 100%" placeholder="HH:mm" class="form-control time"
                                formControlName="sa_time" name="sa_time">
                                <option *ngFor="let time of times; index as i" value="{{ time.value }}" [selected]="time.value === frmPickup.value.sa_time">{{
                                    time.label }}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-info" (click)="clearTime(5)"> Limpiar</button>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-3">
                            <label><input *ngIf="frmPickup.value.is_checked_all" type="checkbox" formControlName="do_checked"
                                    name="do_checked" />&nbsp;Domingo: </label>
                        </div>
                        <div class="col-md-5 hidden">
                            <input type="text" placeholder="Dirección" class="form-control" formControlName="do_address"
                                name="do_address">
                        </div>
                        <div class="col-md-4">
                            <select type="text" style="width: 100%" placeholder="HH:mm" class="form-control"
                                formControlName="do_time" name="do_time">
                                <option *ngFor="let time of times; index as i" value="{{ time.value }}" [selected]="time.value === frmPickup.value.do_time">{{
                                    time.label }}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-info" (click)="clearTime(6)"> Limpiar</button>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-secondary " data-dismiss="modal" value="cerrar" (click)="closePickup()">
                    <input type="button" class="btn btn-primary " value="Guardar" (click)="save()">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade text-left" id="pickupCloneForm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-text-bold-600">Clonar Pickups</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" [formGroup]="frmPickupClone">
                <div class="modal-body">
                    <fieldset class="form-group">
                        <select class="form-control" formControlName="activityId" name="activityId">
                            <option value="0">Seleccionar actividad a clonar</option>
                            <option [value]="activity.id" *ngFor="let activity of activityList">{{ activity.name }}</option>
                        </select>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-secondary " data-dismiss="modal" value="Cerrar">
                    <input type="button" class="btn btn-primary " value="Clonar" (click)="clonePickupSave()">
                </div>
            </form>
        </div>
    </div>
</div>